# Configuration file for the Corosync Qdevice Network daemon init script,
# systemd unit and corosync-qnetd-certutil tool.

# COROSYNC_QNETD_OPTIONS specifies options passed to corosync-qnetd command
# (default is no options).
# See "man corosync-qnetd" for detailed descriptions of the options.
COROSYNC_QNETD_OPTIONS=""

# COROSYNC_QNETD_RUNAS specifies user under which qnetd daemon should be running
# (not set or empty is default and means "user who executes init script")
# Make sure to set correct owner of directories /etc/corosync/qnetd and
# /var/run/corosync-qnetd
# This has no effect if systemd unit is used (you have to change unit file)
COROSYNC_QNETD_RUNAS=""

# COROSYNC_QNETD_CERTUTIL_KEY_SIZE specifies the key size to use when generating
# new public and private key pairs. This is equivalent to the -g option.
#COROSYNC_QNETD_CERTUTIL_KEY_SIZE=""
