# Configuration file for the Corosync Qdevice daemon init script,
# systemd unit and corosync-qdevice-net-certutil tool.

# COROSYNC_QDEVICE_OPTIONS specifies options passed to corosync-qdevice command
# (default is no options).
# See "man corosync-qdevice" for detailed descriptions of the options.
COROSYNC_QDEVICE_OPTIONS=""

# COROSYNC_QDEVICE_NET_CERTUTIL_KEY_SIZE specifies the key size to use when generating
# new public and private key pairs. This is equivalent to the -g option.
#COROSYNC_QDEVICE_NET_CERTUTIL_KEY_SIZE=""

# COROSYNC_QDEVICE_NET_CERTUTIL_KEY_TYPE specifies the key type to use when generating
# new public and private key pairs. This is equivalent to the -k option.
#COROSYNC_QDEVICE_NET_CERTUTIL_KEY_TYPE=""

# COROSYNC_QDEVICE_NET_CERTUTIL_PARAMSET specifies the curve-name or ml-dsa-parameter-set
# to use when generating new public and private key pairs.
# This is equivalent to the -q option.
#COROSYNC_QDEVICE_NET_CERTUTIL_PARAMSET=""
